.BasicBoard__root__mDkUT {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: flex;
  flex-direction: row;
  width: 1518px;
  height: 1518px;
  position: relative;
}
.BasicBoard__root__mDkUT > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.BasicBoard__root__mDkUT > .__wab_flex-container > *,
.BasicBoard__root__mDkUT > .__wab_flex-container > .__wab_slot > * {
  margin-left: 10px;
  margin-top: 10px;
}
.BasicBoard__box__8rlYf.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__8LZKa.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__1G9SO.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__7WwPQ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Aai0K.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__jkmtk.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__6u_dR.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__W-cnN.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__mmyQK.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__py3XY.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Mm5TL.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__sjiFs.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__-IaPR.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__gOZj5.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__4-EXq.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__V3KwW.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__i2M8z.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__R7WNj.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__-ma7e.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__VX_g1.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__UtrqC.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__T_Hc5.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__VqzmB.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Uru9E.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__MLJE6.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__C53Gh.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__YzGLy.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__wQ3c9.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__rfX-J.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__0tpIH.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__nRmcK.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__cztYX.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__rx3ax.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__TMRiO.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Imgbz.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__rEbNP.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Gk29e.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__UQThZ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__eZt-w.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__9KSqm.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__SfaMz.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Q7pOg.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__-oClO.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__pgmoN.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__P7Ijr.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__C8tja.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Vo7eE.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__6tF8n.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__x1GzR.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__9sGrD.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__TFj9C.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__IQp39.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__mb2D3.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__lh_YM.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__cxopT.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__bLZmT.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__dVcDj.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__IWoz6.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__oCFba.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__MIQdV.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__3bgGV.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__rNzS9.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box___4ldv.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__uKphk.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__B3hk6.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__k1ayn.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box___2NGw.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__02eZt.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__qyHjY.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__va73J.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__vmXm3.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__WYlBG.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__6MN0p.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__KV931.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__QK27d.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__uwGEF.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__VYFqq.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__BfO8C.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__vBMRa.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__nSVn2.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__DI-KR.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__me8xz.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__QMpNu.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Pk6HG.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__LHO06.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__0xxyl.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__TqBBX.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__XdL8q.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box___NKrV.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__zIKoG.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__t8a9C.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__wETZ7.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__j_kBQ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__iKd2S.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Koa7P.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__ecFPJ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__htMQO.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Ud1RC.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Zz418.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__C-OZy.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__-youa.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__y1gIX.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__9UqLq.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__cI4P5.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__DihC3.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__bGSd3.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__2HXCB.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__xp9Z_.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__5tq8f.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__OZ5HH.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__J8ZN1.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Xp9qp.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Tdq7Y.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__OSQU8.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__k5afI.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__tx7uW.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__zy_Tz.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__nVA-6.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__U4CFp.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Dou31.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__7wXdD.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__78TaL.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Pr6-g.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__FRa-J.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__tkjun.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__gQXVK.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__k338N.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Tzz-Y.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__KUhx-.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__pk4ia.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Ncr2N.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__QDePW.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__uxbH_.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__4BPPi.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__HVRUX.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__POmPz.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__hNNmu.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__FN4Na.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__MigY-.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__5yxsi.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__9ekz3.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__8QDW5.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__povEF.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__77RA-.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Wc3Bx.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__A8n6p.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__hrTT9.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__EQLaW.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__n3gvL.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__XjwWB.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Q8qtm.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__RY8G2.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__00Vha.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__XYPl4.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__hPm8y.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__zr2A1.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__r7def.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__2vCuy.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__6YPUU.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__NIqCB.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__hX1Sn.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__15d3X.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Say7y.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__4yRuQ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__JJVBy.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Ng0ne.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__qCfun.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__fmJoc.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__DFNqu.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__0y94p.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__T8ElU.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__eKQdq.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__L7KTA.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__qZNJB.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__qmeU7.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__GdtLk.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__w4yzs.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__rgPSk.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__mcTuV.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__94ext.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__QYxNO.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__AjKPq.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__KYy54.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__LezsF.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__b7t7y.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__I8Kfr.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__ZSGPY.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__Xehqr.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__3dUz4.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__LZLeg.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__xgUsc.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__DmjjX.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__ykeQX.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__hJdg1.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__elEfr.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__oitMA.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__iO4fU.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__vwX5s.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__qo5UY.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__nAvve.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__5UJEf.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__9Eo2c.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__MZKLM.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__E8kvq.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__nQcAj.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__9c0nJ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__cxJs3.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__flUgr.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__YR5_C.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__zM5KZ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__AOSG1.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__jJ5mW.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__khUMn.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__wpCFM.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__N3orY.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__S-_ZA.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box___YwH9.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__dOCWv.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__TQM3n.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__ckWON.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__tftU1.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__sbElQ.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__jzWQ2.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__OJnNv.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
.BasicBoard__box__4wQK-.__wab_instance {
  position: relative;
  top: auto;
  left: auto;
  width: default;
  height: default;
}
